/* Basic table styling */
table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
/*    box-sizing: border-box;  /* Include padding in border */ 
    overflow-x: auto;
}

.table-container {
    position: relative;
    width: 85%;
    margin-left: 7%;
    max-height: 500px;
    overflow: auto;
    overflow-x: auto;
    border: 1px solid #BEBEBE;
}

th, td {
    border: 1px solid #DDDDDD;
    padding: 0px;
    text-align: center;
    text-overflow: clip;
} 

/*.cell_value {
  min-width: 150px;
  max-width: 150px;
  width: 150px;
} */


.expandable {
    background-color: #444444;
    color: white;
    max-width: 60px;  /* Also, set the width in adjustTableWidth */
    min-width: 60px;  /* under the data_id, user_id etc. */  
}

[class*="_extra"] {
    background-color: #CECECE;
    color: blue;
    text-overflow: clip;
}

.expanded_data {
    background-color: #fcf8de;
}

.frozen_row.space_group {
    background-color: #BEBEBE;
}

.frozen_row {
  text-overflow: clip;
  height: 50px;
  position: sticky;
  top: -1px;
}

/*
.frozen_col .frozen_col1 {
   white-space: nowrap;
   overflow-x: auto; 
}
*/


.frozen-corner1 {
    position: sticky;
    top: -1px;
    background-color: #333333;
    width: 400px;
    color: white;
    z-index: 20;
    left: 50px;
    overflow: auto;
    
}

.frozen_col1 {
  white-space: nowrap;
  position: sticky;
  background-color: white;
  left: 50px;
  overflow: hidden;
  text-align: left;
  padding-left: 5px;
  width: 400px;
}

.frozen-corner {
    position: sticky;
    top: -1px;
    left: -1px;
    max-width: 50px;
    min-width: 50px;
    overflow: clip;
    background-color: #222222;
    color: white;
    z-index: 20;
    padding: 0px;
}

.frozen_col {
  position: sticky;
  left: -1px;
  min-width: 50px;
  max-width: 50px;
  overflow: clip;
  background-color: white;
  z-index: 10;
}

.space_group {
  min-width: 50px;
  max-width: 50px;
  text-overflow: clip;
  padding: 0px;
}

.unit_cell {
  min-width: 200px;
  max-width: 200px;
}


.expanded_data.unit_cell {
    background-color: #fffbe5;
}

.expanded_data.space_group {
    background-color:  #fff2b3;
}



/* Setting the color for even unit cell cells */
tr:not(.frozen_row):nth-child(even) .unit_cell {
    background-color: #fff6cc;
}

/* Setting the color for even space group cells */
tr:not(.frozen_row):nth-child(even) .space_group {
    background-color: #ffed94;
}

tr:not(.frozen_row):nth-child(even) .cell_value {
    background-color: #e6e6e6; 
}

tr:not(.frozen_row):nth-child(even) .frozen_col {
    background-color: #e6e6e6; 
}

/* Show tooltip when howering of cell data */
.fa-solid.fa-triangle-exclamation {
  cursor: help;
}

.info {
  cursor: help;
}

#page_title {
  margin-left: 7%;
  padding-top: 30px; 
  font-family: Arial, Helvetica, sans-serif;
}

#page_text {
  margin-left: 7%;
  font-family: Arial, Helvetica, sans-serif;
}

#expandableTable {
   table-layout: fixed;
   margin-right: 100%;
}

#expandableTable td {
  min-height: 20px;
  max-height: 20px;
  overflow: hidden;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 1000%;
  cursor: col-resize;
  z-index: 1;
}

.resizer:hover {
  cursor: col-resize;
}

