.table-container {
  width: 90%;
  height: 200px;
  margin-left: 50px;
  border: 1px solid #BEBEBE;
  padding: 0px;
  overflow: auto; 

}

.row {
  display: flex;
  flex-direction: row;
  width: 200%;
  
}

.column {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.cell {
  border: 1px solid #BEBEBE;
  box-sizing: border-box;  /* Include padding in border */ 
  user-select: none;
}

.header {
  position: sticky;
  top: 0;
}

.resizable {
  background-color: lightblue;
}

.resizer {
  width: 10px;
  position: absolute;
  right: 0px;
  height: 100%; 
  top: 0;
  z-index: 1;
  cursor: ew-resize;
  background-color: red;
}

.expandable {
  width: 200px;
}

#col1 {
  position: sticky;
  left: 0;
  width: 20px;
  z-index: 5;
}

#col2 {
  /*
  */
  /* position: sticky;
  left: 20px; */
  position: sticky;
  left: 20px;
}

.column_02 {
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
}
